body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282c34;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    max-width: 80%;
    margin: auto;
    background-color: blue; /* color temporal hasta que haya proyectos despues este sera el color de los proyectos */
    border-radius: 15px;
}

h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

footer {
    display: flex;
    background-color: #161616;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content: center;
}