.list {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    max-width: calc(25% - 15px);
    height: 100%;
    flex: 0 0 25vw;
    border-radius: 10px;
}

.h2_list {
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.section_list {
    background-color: #484e5c; /* finalmente no tendra color es temporal y no tendra margen de los lados o alturas con las tareas */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.buttons_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 7.5px;
    margin-bottom: 10px;
}