.list {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    width: 100%;
    max-height: calc(100vh - 140px);
    flex: 0 0 25vw;
    border-radius: 10px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.h2_list {
    flex: 1;
    color: white;
    font-size: 1rem;
    margin: 15px;
    
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.section_list {
    margin: 10px;
    height: 100vh;
    max-height: 100%;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
}

.section_list.dragging-over {
    background: white;
    opacity: 0.25;
}

@media (max-width: 1000px) {
    .list {
        max-height: calc(100vh - 200px);
    }
}

@media (max-width: 600px) {
    .list {
        max-height: calc(100vh - 200px);
    }
}