.task {
    background-color: #484e5c;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.task_h2, .task_p {
    margin: 5px;
}

.task_h2 {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.task_p {
    margin-bottom: 20px;
}